@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Hannah Burianek 
   Date:     11/3/21
   
  
  
*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(252, 152, 178); 
}

table, th, td{
	background-color: white;
	 border: 1px solid #888888;
	 padding: 5px;
}

form {
	background-color: rgb(244, 157, 173);
	padding: 10px;
	margin: 10px;
	border-radius: 25px;
}


#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: rgb(252, 152, 178);
	border-radius: 25px;
	
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 #888888;
    border-radius: 25px; 
	background-color: #2b325c; 	
}

nav {
	border-radius: 25px;
    width: 230px;
	height:650px;
    margin: 0; 
    padding: 0;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a { 
    padding: 5px;
    color: black;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    border-radius: 10px;
    color: grey;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid; 
	height: 630px;
}

#main p {
    text-indent: 1.5em;
	font-family: fantasy, papyrus;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
	border-radius: 25px;
	height: 650px;
    width: 230px;
    margin: 0;
    padding: 0px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
	padding-left: 8px;
}

h2 {
    font-size: 1.4em;
	font-family: Fantasy, Papyrus;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
	font-family: Fantasy, Papyrus;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    clear: both;
    color: grey;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
	background-color: rgb(136, 225, 221);
}/* navigation for footer */
footer a:link {
    color: grey;
    text-decoration: none;
}

footer a:visited {
    color: grey;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
	color: black;
}
